@import 'tailwindcss';
@import 'material-icons/iconfont/material-icons.css';
@import 'lenis/dist/lenis.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  overflow-x: clip;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  display: flex;
  min-height: 100dvh;
  flex-direction: column;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-symbols), var(--font-geist-sans), sans-serif;
  user-select: none;
}

main {
  position: relative;
  z-index: 10;
  flex: 1 0 auto;
  background-color: transparent !important;
}

button {
  cursor: pointer;
}

*:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

*::selection {
  background: #ffffff;
  color: #000000;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media (max-width: 1023px) {
  main {
    padding-top: 1rem;
  }

  *:focus-visible {
    outline: 1px solid currentColor;
    outline-offset: 1px;
  }

}
